* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    height: 50px;
    background-color: #f1f1f1;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin-right: 20px;
}

header a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header a.active {
    background-color: #d8d7d7;
    border-radius: 5px;
}

.header-search {
    display: inline-flex;
    align-items: center;
}

header input[type="text"] {
    padding: 7px;
    border-radius: 5px;
    width: 350px;
    margin-right: 10px;
}

.header-buttons {
    display: inline-flex;
    gap: 10px;
}

button {
    background-color: white;
    color: #007bff;
    padding: 8px 15px;
    border: 2px solid #007bff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #007bff;
    color: white;
}

/* Контейнер для списку книг і підрахунку загальної ціни */
.book-list-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    flex: 1;
}

.books-page {
    flex: 1;
}

/* Секція підрахунку загальної ціни */
.count {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.count-section {
    display: flex;
    text-align: center;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.count-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.count-section button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.count-section button:hover {
    background-color: #0056b3;
}

.count-section span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Картки книг */
#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: row;
    gap: 20px;
    width: calc(100% - 320px);
    justify-items: center;
}

.book {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    height: 300px;
}

.book h3 {
    margin-bottom: 10px;
}

.book p {
    margin-bottom: 10px;
}

.book .edit-btn,
.book .remove-btn {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.book .edit-btn {
    background-color: #007bff;
    color: white;
}

.book .remove-btn {
    background-color: #ff4500;
    color: white;
    border: 2px solid #ff4500;
}

.book .edit-btn:hover {
    background-color: #0056b3;
}

.book .remove-btn:hover {
    background-color: #e03b00;
}

/* Секція форми на сторінці create.html */
.form-section.create-form {
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
}

.submit-btn:hover {
    background-color: #0056b3;
}


