.header {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 15px;
    padding: 0 50px;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;

}