
.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.main__info img {
    width: 40%;
    height: 50%;
    resize: block;
    border-radius: 20px;
}

.main__info h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main__info p {
    font-size: 20px;
}

.main__price-buttons {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__price {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.main__price-price {
    margin-right: 30px;

}

.buttons_go_back {
    color: rgb(62, 61, 61);
    border: 2px solid rgb(62, 61, 61);
    background-color: white;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.butons_add_to_cart {
    color: white;
    background-color: rgb(62, 61, 61);
    border-radius: 10px;
    height: 50px;
    width: 140px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {background-color: rgba(0, 0, 0, 0.479)}

.buttons button:active {
    background-color: rgba(0, 0, 0, 0.479);
    transform: translateY(4px);
}
