body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

section.guides {
    display: flex;
    align-items: center;
    padding: 50px 10%;
    background-color: #f9f9f9;
}

section.guides h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section.guides p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.download-btn {
    padding: 10px 20px;
    background-color: #FF6A3D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-btn:hover {
    background-color: #e55a2b;
    transform: scale(1.05);
}

section.guides .illustration img {
    max-width: 100%;
    height: auto;
}

section.testimonials {
    padding: 50px 20%;
    background-color: #fff;
    text-align: center;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: left;
}

.testimonial-item {
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    gap: 100px;
    align-items: center;
}

.testimonial-item p {
    font-style: italic;
    margin-bottom: 10px;
    margin-right: 20px;
}

.rating {
    color: #FF6A3D;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.author {
    display: flex;
    align-items: center;
    gap: 20px;
}

.author img {
    width: 80%;
    align-items: flex-end;
}

.trending {
    padding: 50px 10%;
    background-color: #f9f9f9;
    text-align: center;
}

.trending h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.stories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.story-item {
    flex: 1;
    min-width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.story-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.story-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}