@media (max-width: 800px) {
    .menu-left {
        display: none;
    }

    .menu-right {
        display: none;
    }

    .burger {
        display: flex;
    }

}

@media (max-width: 680px){
    .illustration{
        display: none;
    }
    .author{
        display: none;
    }
}
